<?xml version="1.0" encoding="UTF-8"?>
<model package="products" baseClass="xPDOObject" platform="mysql" defaultEngine="MyISAM" version="1.1">
   <object class="Product" table="products" extends="xPDOSimpleObject">
   	<field key="clnumber" dbtype="varchar" precision="250" phptype="string" null="false" default="" /> 
   	<field key="description" dbtype="varchar" precision="250" phptype="string" null="false" default="" /> 
   	<field key="type" dbtype="varchar" precision="250" phptype="string" null="false" default="" /> 
   	<field key="space" dbtype="varchar" precision="250" phptype="string" null="false" default="" /> 
   	<field key="dimension" dbtype="varchar" precision="250" phptype="string" null="false" default="" />
   	<field key="finish" dbtype="varchar" precision="250" phptype="string" null="false" default="" />
   	<field key="glass" dbtype="varchar" precision="250" phptype="string" null="false" default="" />
   	<field key="bulb" dbtype="varchar" precision="250" phptype="string" null="false" default="" />
   	<field key="image" dbtype="varchar" precision="250" phptype="string" null="false" default="" />
   	<field key="author" dbtype="varchar" precision="250" phptype="string" null="false" default="" />
   	<field key="deleted" dbtype="int" precision="1" attributes="unsigned" phptype="integer" null="false" default="0" />
   	<field key="published" dbtype="int" precision="1" attributes="unsigned" phptype="integer" null="false" default="0" />   
	 </object>
</model>