/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

* {
  margin: 0;
}

html, body{
  height: 100%;
}

body{
  background-color: @jlLightBeige;
  background: url('/assets/img/elements/bg_10x5.png') center center; 
  .at2x('/assets/img/elements/bg_10x5', 'png', 10px, 5px);
  min-width: 970px;
  color: @jlDarkGray;
  font-size: 15px;
}

.container-fixed {
  margin: 0 auto;
  max-width: 970px;
  background-color: white;
}

.container-fixed > hr {
  margin: 30px 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
section{
	background-color:white;
	max-width: 970px;
	margin: 0 auto;
}
input::-moz-focus-inner {
  border: 0;
}

::-webkit-input-placeholder {
    color:    #4f4d4a;
    font-size: 15px;
}
:-moz-placeholder {
    color:    #4f4d4a;
    opacity:  1;
    font-size: 15px;
}
::-moz-placeholder {
    color:    #4f4d4a;
    opacity:  1;
    font-size: 15px;
}
:-ms-input-placeholder {
    color:    #4f4d4a;
    font-size: 15px;
}

a{
	color: @jlGreen;
	outline: 0 !important;
	&:hover,
	&:active{
		color: @jlGreen;
		text-decoration: none;
	}
}

p{
	font-size: 13px;
	line-height: 22px;
}

h1{
	color: @jlDarkGray;
	font-size: 34px;
	font-family: @font-family-serif;
	-webkit-font-smoothing: antialiased;
	margin-top: 0;
	margin-bottom: 18px;
	float:left;
	clear:both;
}

h2{
	font-size: 21px;
	text-transform:uppercase;
	font-family: @font-family-serif;
	-webkit-font-smoothing: antialiased;
}

.general_button{
	color: white;
	font-family: @font-family-serif;
	font-size: 15px;
	background-color: @jlGreen;
	padding: 7px 40px;
	border: 0;
	&:hover,
	&:active{
		background-color: @jlDarkGreen;
		color:white;
		text-decoration:none;
	}
	&.back{
		float:right;
		margin-top: -50px;
		clear:both;
	}
}

header{
	background-color: @jlDarkGray;
	background: url('/assets/img/elements/footer_200x200.png') center center;
  .at2x('/assets/img/elements/footer_200x200', 'png', 200px, 200px);
	border-top: 4px solid @jlGreen;
	border-bottom: 4px solid @jlGreen;
	float:left;
	width: 100%;
	margin-top:35px;
	margin-bottom: 60px;
	.learnmore{
		display:none;
	}
	a.logo{
		background: url('/assets/img/elements/logo_233x105.png') center top no-repeat white; 
		.at2x('/assets/img/elements/logo_233x105', 'png', 233px, 105px);
    width: 234px;
    height: 105px;
    display:block;
		position:absolute;
		margin-top: -30px;
	}
	&:before{
		content: " ";
    z-index: -1;
    border-top: 2px solid white;
    width: 100%;
    display:block;
	}
	&:after{
		content: " ";
    z-index: -1;
    border-bottom: 2px solid white;
    width: 100%;
    display:block;
    float:left;
	}
	.container-fixed{
		border-top:50px;
	}
	.row{
		background-color: @jlDarkGray;
		background: url('/assets/img/elements/footer_200x200.png') center center;
    .at2x('/assets/img/elements/footer_200x200', 'png', 200px, 200px);
	}
	.col-lg-9{
		height: 54px;
	}
	ul{
		padding:0;
		margin: 0;
		li{
			padding: 0;
			margin-top: -6px;
			margin-bottom: -2px;
			float:left;
			list-style-type:none;
			a{
				min-width: 100px;
				text-align:center;
			} 
			a[title="Home"]{
				min-width: 120px;
			}
			a[title="Products"]{
				min-width: 130px;
			}
			a[title="Contact"]{
				min-width: 130px;
			}
			a[title="About Us"]{
				width: 135px;
			}
			a{
				color: white;
				text-transform:uppercase;
				font-size: 14px;
				font-family: @font-family-serif;
				-webkit-font-smoothing: antialiased;
				text-decoration:none !important;
				display:block;
				padding: 23px 14px 20px 14px;
				&:hover,
				&:active{
					color: white;
					text-decoration: none;
					background-color: @jlGreen;
				}
			}//a
			ul{
				position: relative;
				z-index: 1000;
				margin-top:4px;
				display:none;
				li{
					float:none; 
					background-color: @jlDarkGray;
					margin-top: 0;
					margin-bottom: 0;
					border-bottom:1px solid white;
					&.first{
						border-top:1px solid white;
					} 
					a{
						padding: 10px 10px;
						text-align:center;
						font-size: 12px;
						text-transform:none;
						font-family: @font-family-sans-serif;
					}
				}
			}
			&.active,
			&:hover{
				background-color: @jlGreen;
				text-decoration:none;
			}
			&:hover{
				ul{
					display:block;
				}
			}
		}//li
	}//ul
}
.page-3 header ul li ul li.first{
	background-color: @jlGreen;
}
.page-1 header,
.page-1 footer{
	min-width: 1200px;
}

.page-1 header{
	a.logo{
		//margin-left: -70px;
	}
	ul{
		//margin-left: -20px;
	}
	.learnmore{
		float:right;
		display: block;
		position:absolute;
		width: 122px;
		height: 125px;
		background-color: white;
		top: -35px; 
		border:1px solid gray;
		border-radius: 5px;
		margin-left: 42px;
		right: -65px;
		cursor:pointer;
		img{
			border: 4px solid white;
			border-radius: 5px;
			width: 120px;
			z-index: 200;
			position: relative;
		}
		span{
			color: @jlDarkGray;
			position: absolute;
			font-size: 12px;
			top: 0;
			padding: 15px;
			z-index: 150;
		}
	}
}

#house{
	max-width: 1200px;
	.container-fixed{
		max-width: 1200px;
		width: 1200px;
	}
	img{
		margin-top: -24px;
		border-top: 2px solid #b2aa9f;
	}
	#nibs{
		position: absolute;
		z-index: 100;
		width: 1200px;
		height: 717px;
		margin-top: -717px;
		a{
			width: 22px;
			height: 22px;
			position: absolute;
			background: url('/assets/img/elements/nib2_22x22.png') center center no-repeat transparent;
    .at2x('/assets/img/elements/nib2_22x22', 'png', 22px, 22px);
			span{
				display:none;
				background-color: @gray-dark;
				position:absolute;
				color: white;
				font-family: @font-family-serif;
				-webkit-font-smoothing: antialiased;
				white-space: nowrap;
				padding: 2px 10px 4px 10px;
				top: 11px;
				left: 11px;
				border: 2px solid @jlGreen;		
				z-index:300;
				p{
					white-space: normal;
					font-size: 11px;
					font-family: @font-family-sans-serif;
					margin-top: 6px;
					line-height: 18px;
				}	
			}
			&:hover{
				span{
					display:block;
				} 
			}
		}
		.nib1{left:40px;top:167px;}
		.nib2{left:115px;top:137px;}
		.nib3{left:146px;top:75px;}
		.nib4{left:214px;top:149px;}
		.nib5{left:428px;top:100px;}
		.nib6{left:631px;top:60px;}
		.nib7{left:743px;top:140px;}
		.nib8{left:962px;top:107px;}
		.nib9{left:1040px;top:80px;}
		.nib10{left:1043px;top:390px;}
		.nib11{left:956px;top:370px;}
		.nib12{left:790px;top:368px;}
		.nib13{left:675px;top:477px;}
		.nib14{left:513px;top:468px;}
		.nib15{left:93px;top:575px;}
		.nib16{left:472px;top:445px;}
		.nib17{left:317px;top:655px;}
		.nib18{left:1155px;top:658px;} 
		.nib19{left:810px;top:455px;}
		.nib20{left:1062px;top:75px;}
		.nib21{left:75px;top:407px;}
		.nib22{left:356px;top:468px;}
		.nib23{left:684px;top:390px;}
		.nib24{left:640px;top:650px;}
		.nib25{left:922px;top:648px;}
		.nib26{left:1047px;top:585px;}
		.nib27{left:685px;top:270px;}  
		.nib28{left:725px;top:259px;}
		.nib29{left:733px;top:185px;}
		.nib30{left:764px;top:257px;}
		.nib31{left:520px;top:138px;}
		.nib32{left:632px;top:201px;}
		.nib33{left:724px;top:225px;}
		.nib34{left:1020px;top:525px;}
	}//#nibs
}

#general{
	table tr td{
		width: 455px;
		vertical-align: top;
		&:first-child{
			margin-right: 30px;
			display:block;
		}
		h2{
			margin-top: 0;
		}
	}
	table.content{
		td{
			width: auto;
			&:first-child{
				margin-right: 0;
			}
		}
	}
	table.cabinet-colors{
		td{
			width: 16%;
			&:first-child{
				margin-right: 0;
				display:table-cell;
			}
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	a{
		&:hover,
		&:focus{
			color: @jlGreen;
			text-decoration:none;
		}
	}
	ul li{
		font-size: 13px;
		line-height: 22px;
	}
	h1{
		float:left;
		clear:both;
		width: 100%;
	}
	.col53{
		width: 33%;
		float:left;
		td{
			width: 100%;
		}
	}
}

#team,
#partners{
	padding-top: 50px;
	padding-bottom: 55px;
	.image{
		//height: 266px;
		width: 100%;
		display:block;
		background-color: white; 
		//margin-top: 10px;
	}
	img{
		width: 65%;
		display:block;
		margin: 0 auto;
	}
	.name{
		font-size: 16px;
		font-weight:bold;
		margin-top:10px;
		display:block;
		text-align:center;
	}
	.title{ 
		font-size: 13px;
		display:block;
		margin-bottom: 2px;
		margin-top: 4px;
		text-align:center;
	}
	p{
		text-align:center;
	}
}
#team{
	img{
		width: 100%;
	}
	.col-lg-2{
		margin-right: 40px; 
		&:last-child{
			margin-right: 0;
		}
		&.team2 .title{
			width: 150px;
			margin-left: -7px;
		}
	}
	p{
		font-size: 11px;
	}
}

#partners{
	padding-top: 30px;
	.image{
		height: 200px;
		background-color: white;
	}
}

#message{
	margin-bottom: 30px;
	float:left;
	clear:both;
	margin-top: 30px;
}

#contact{
	padding-bottom: 60px;
	font-size: 13px;
	line-height: 22px;
	.image{
		width: 520px;
		height: 215px;
		background-color: @gray-light;
		display:block;
		margin-bottom: 30px;
		//border: 1px solid @jlGreen;
		overflow:hidden;
		iframe{
			margin-top:-110px;
		}
	}
	.location,
	.hours{
		width: 100%; 
		display:block;
		float:left;
		strong{
			font-family: @font-family-serif;
			font-size: 15px;
			display:block;
			margin-bottom:15px;
		}
	}
	.location{ 
		width: 100%; 
		a{
			color: @jlDarkGray;
			&:hover,
			&:active{
				color: @jlGreen;
				text-decoration:none;
			}
		}//a
	}//location
	.hours{
		width: 375px;
		table tr td:first-child{
			width: 112px;
		}
	}//hours
	form{
		font-family: @font-family-serif;
		label{
			font-size: 15px;
			font-weight:normal;
		}
		input[type="text"]{
			margin-bottom: 17px;
		}
		input[type="text"],
		textarea{
			width: 100%;
			font-size: 15px;
			background-color: @jlLightMedBeige;
			border:0;
			padding: 5px 0 5px 15px;
			color: @jlDarkGray;
		}
		input[type="submit"]{
			margin-top: 17px;
		}
		label{
			display:none;
			padding-top:0;
		}
	}
	.fail,success{
		color: @jlRed;
		margin-top:-30px;
		position: absolute;
		font-size: 15px;
	}
	.success{
		color: @jlGreen;
	}
	.error{
		color: @jlRed;
		position:absolute;
		margin-top: -20px;
		font-size: 11px;
	}
}

#options{
	span.title{
		background-color: @jlGreen;
		color: white;
		font-family: @font-family-serif;
		font-size: 19px;
		-webkit-font-smoothing: antialiased;
		text-align:center;
		width: 293px;
		padding: 5px 0 8px 0;
		display:block;
		margin-bottom:30px;
		margin-left: -1px;
		border: 1px solid @jlGreen;
	}
	.row{
		background-color: @jlLightBeige;
		border: 1px solid @jlLightMedBeige;
		&.area{
			border-bottom: 0;
		}
		&.type{
			border-top: 0;
		}
		&.other{
			margin: 30px 0 0 0;
			padding-bottom: 50px;
		}
	}
	.col-lg-4, .col-lg-6{
		text-align:center;
		text-transform: uppercase;
		font-size: 11px;
		height: 100px;
		margin-bottom: 0;
		line-height: 13px;
		.icon,
		.icon_link{
			height: 60px;
			width: 68px;
			display:block;
			background-color: @jlGreen;
			margin: 0 auto;
			cursor:pointer;
			margin-bottom: 3px;
			background: url('/assets/img/elements/products-bath_92x243.png') top center no-repeat transparent;
			//.at2x('/assets/img/elements/products-bath_92x243', 'png', 92px, 243px);
			background-size: cover;
			&.bedroom{
				background-image: url('/assets/img/elements/products-bed_92x243.png');
				//.at2x('/assets/img/elements/products-bed_92x243', 'png', 92px, 243px);
			}
			&.breezeway{
				background-image: url('/assets/img/elements/products-breezeway_92x243.png');
				//.at2x('/assets/img/elements/products-breezeway_92x243', 'png', 92px, 243px);
			}
			&.closet{
				background-image: url('/assets/img/elements/products-closet_92x243.png');
				//.at2x('/assets/img/elements/products-closet_92x243', 'png', 92px, 243px);
			}
			&.diningroom{
				background-image: url('/assets/img/elements/products-dining_92x243.png');
				//.at2x('/assets/img/elements/products-dining_92x243', 'png', 92px, 243px);
			}
			&.hallway{
				background-image: url('/assets/img/elements/products-hallway_92x243.png');
				//.at2x('/assets/img/elements/products-hallway_92x243', 'png', 92px, 243px);
			}
			&.entryway{
				background-image: url('/assets/img/elements/products-entryway_92x243.png');
				//.at2x('/assets/img/elements/products-entryway_92x243', 'png', 92px, 243px);
			}
			&.kitchen{
				background-image: url('/assets/img/elements/products-kitchen_92x243.png');
				//.at2x('/assets/img/elements/products-kitchen_92x243', 'png', 92px, 243px);
			}
			&.outdoor{
				background-image: url('/assets/img/elements/products-outdoor_92x243.png');
				//.at2x('/assets/img/elements/products-outdoor_92x243', 'png', 92px, 243px);
			}
			&.ceiling{
				background-image: url('/assets/img/elements/products-ceiling_92x243.png');
				//.at2x('/assets/img/elements/products-ceiling_92x243', 'png', 92px, 243px);
			}
			&.ceilingfan{
				background-image: url('/assets/img/elements/products-ceilingfans_92x243.png');
				//.at2x('/assets/img/elements/products-ceilingfans_92x243', 'png', 92px, 243px);
			}
			&.fankit{
				background-image: url('/assets/img/elements/products-fankit_92x243.png');
				//.at2x('/assets/img/elements/products-fankit_92x243', 'png', 92px, 243px);
			}
			&.pendant{
				background-image: url('/assets/img/elements/products-pendants_92x243.png');
				//.at2x('/assets/img/elements/products-pendants_92x243', 'png', 92px, 243px);
			}
			&.emergency{
				background-image: url('/assets/img/elements/products-emergency_92x243.png');
				//.at2x('/assets/img/elements/products-emergency_92x243', 'png', 92px, 243px);
			}
			&.flushmount{
				background-image: url('/assets/img/elements/products-flushmount_92x243.png');
				//.at2x('/assets/img/elements/products-flushmount_92x243', 'png', 92px, 243px);
			}
			&.led{
				background-image: url('/assets/img/elements/products-led_92x243.png');
				//.at2x('/assets/img/elements/products-led_92x243', 'png', 92px, 243px);
			}
			&.sconce{
				background-image: url('/assets/img/elements/products-sconce_92x243.png');
				//.at2x('/assets/img/elements/products-sconce_92x243', 'png', 92px, 243px);
			}
			&.osconce{
				background-image: url('/assets/img/elements/products-outdoorsconce_92x243.png'); 
				//.at2x('/assets/img/elements/products-sconce_92x243', 'png', 92px, 243px);
			}
			&.security{
				background-image: url('/assets/img/elements/products-security_92x243.png');
				//.at2x('/assets/img/elements/products-security_92x243', 'png', 92px, 243px);
			}
			&.track{
				background-image: url('/assets/img/elements/products-track_92x243.png');
				//.at2x('/assets/img/elements/products-track_92x243', 'png', 92px, 243px);
			}
			&.vanity{
				background-image: url('/assets/img/elements/products-vanity_92x243.png');
				//.at2x('/assets/img/elements/products-vanity_92x243', 'png', 92px, 243px);
			}
			&.energystar{
				background-image: url('/assets/img/elements/products-energystar_92x243.png');
				//.at2x('/assets/img/elements/products-energystar_92x243', 'png', 92px, 243px);
			}
			&.faucet{
				background-image: url('/assets/img/elements/products-faucet_92x243.png');
				//.at2x('/assets/img/elements/products-vanity_92x243', 'png', 92px, 243px);
			}
			&.cabinet{
				background-image: url('/assets/img/elements/products-cabinet.png');
				width: 115px;
				height: 97px;
				border: 2px solid @jlGreen;
				&:hover,
				&.active{
					background-position: top center;
				}
			}
			&.windowcovering{
				background-image: url('/assets/img/elements/products-window.png');
				width: 110px;
				height: 97px;
				border: 3px solid @jlGreen;
			}
			&:hover{
				background-position: center center;
				background-size: cover;
			}
			&.active{
				background-position: bottom center;
				background-size: cover;
			}
		}
	}
	.col-lg-6 .icon_link{
		height: 90px;
	}
	hr{
		border-top: 1px solid @jlDarkGray;
		margin: 7px 0 30px 0;
		padding: 0;
	}
}

#gallery{
	#tags{
		font-size: 12px;
		font-style: italic;
		span{
			display:none;
		}
		ul{
			font-style: normal;
			margin: 3px 0 0 0;
			padding: 0;
			li{
				list-style-type:none;
				float:left;
				padding-right: 5px;
				padding-bottom: 3px;
				text-transform: capitalize;
				color: #7f9339;
			}
		}
		hr{
			margin-top: 8px;
			margin-bottom: 28px;
			border-color: @jlLightMedBeige;
			clear:both;
		}
	}
	#status{
		display:none;
		position:absolute;
		top: 9px;
		font-size: 11px;
	}
	.col-lg-6{
		height: 415px;
	}
	.image{
		width: 100%;
		height: 200px;
		display:block;
		background-color: white;
	}
	.title{
		font-weight:bold;
		display:block;
		font-size: 14px;
		line-height: 16px;
		margin-top:16px;
	}
	.provider{
		font-size: 12px;
		display:block;
		padding: 5px 0 8px 0;
	}
	.product{
		font-size: 11px;
	}
	.product ul{
		margin: 0 0 0 0;
		padding: 0;
		position:relative;
		z-index:100;
		li{
			font-size: 11px;
			list-style-type:none;
			margin: 0; 
			padding: 0;
			a{
				&:focus{
					color: @jlGreen;
					text-decoration: none;
				}
			}
			strong{
				margin-right:3px;
			}
			img{
				width: 35px;
				height: 32px;
				display: inline-block;
				margin-top: 5px;
				&:first-child{
					margin-left: -2px;
				}
			}
		}
	}
	.page{
		display:none;
	}
}

.page-15 #gallery{
	margin-left:-8px;
}

.paging{
  margin-bottom: 10px;
  border-top: 1px solid @jlGreen;
  float:left;
  clear:both;
  &.inactive{
	  div,ul{
		  display:none;
	  }
  }
  .controls-left{
	  float:left;
	  div{
		  float:left;
		  width: 10px;
		  height: 20px;
		  cursor:pointer;
		  text-align:center;
		  margin-top: 7px;
		  &:hover{
			  color: @jlGreen;
		  }
		  &.inactive{
			  color: #ddd;
		  }
	  }
  }
  .controls-right{
	  float:left;
	  div{
		  float:left;
		  width: 10px;
		  height: 20px;
		  cursor:pointer;
		  text-align:center;
		  margin-top: 7px;
		  &:hover{
			  color: @jlGreen;
		  }
		  &.inactive{
			  color: #ddd; 
		  }
	  }
  }
	ul{
		margin-left: 0;
		padding-top: 10px;
		padding-left: 0;
		float:left;
		li{
			float:left;
			font-size: 11px;
			list-style-type:none;
			cursor:pointer;
			color: @jlDarkGray;
			padding: 2px 5px;
			text-align: center;
			&.active,
			&:hover{
				background-color: @jlGreen;
				color: white;
				text-decoration:none;
			}
		}//li
	}//ul
}

footer{
	color: white;
	-webkit-font-smoothing: antialiased;
	border-top: 42px solid @jlGreen;
	background-color: @jlDarkGray;
	background: url('/assets/img/elements/footer_200x200.png') center center;
  .at2x('/assets/img/elements/footer_200x200', 'png', 200px, 200px);
	.container-fixed{
		background: url('/assets/img/elements/footer_200x200.png') center center;
   .at2x('/assets/img/elements/footer_200x200', 'png', 200px, 200px);
	}
	h2{
		color: @jlOffWhite;
		border-bottom: 4px solid @jlGreen;
		width: 100%;
		padding: 20px 0 10px 0;
	}//h2
	ul{
		margin:0;
		padding: 0;
		li{
			list-style-type:none;
			float:left;
			padding-right: 10px;
			a{
				color:white;
				display:block;
				padding: 4px 0 9px 0;
				&:hover,
				&:active{
					color: @jlBeige;
					text-decoration:none;
				}
			}//a
			&.active a{
				color: @jlGreen;
			}
		}//li
		&.list_column li{
			float: none;
			padding-right: 0;
		}
	}//ul
	.location{
		line-height: 26px;
		a{
			color: white;
			&:hover,
			&:active{
				color: @jlBeige;
				text-decoration:none;
			}
		}
	}//location
	.copyright{
		text-align:center;
		display:block;
		margin: 35px 0 54px 0;
		a{
			color: @jlBeige;
			&:hover,
			&:active{
				color: @jlGreen;
				text-decoration:none;
			}
		}
	}//copyright
	sub{
		display:block;
		position:absolute;
		top: 35px;
	}
}

#slideshow{
	width: 100%;
	overflow:hidden;
	margin-bottom:15px;
	background-color: #43423e;
	height: 500px;
	margin-bottom: 5px;
	.image{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		line-height: 500px;
	}
	img{
		display:none;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		line-height: 500px;
	}
}

.slideshow-pager{
	font-size: 40px;
	color: @jlDarkGray;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	span{
		padding: 0 3px;
		&.cycle-pager-active,
		&:hover{
			color: @jlGreen;
			cursor:pointer;
			height:20px;
			line-height: 20px;
			display:inline-block;
	
		}
	}
}