
		<footer>
		  <div class="container-fixed">
				<div class="row">
					<div class="col-lg-4">
						<h2>Contact</h2>
						<span class="location">
						[[++location_name]]<br />
						<a href="[[++location_url]]" target="_blank">[[++location_street]] [[++location_city]], [[++location_state]] [[++location_zip]]</a><br />
						Phone: [[++location_phone]]<br />
						Toll Free: [[++location_phone2]]
						</span>
					</div><!--/.col4-->
					<div class="col-lg-8">
						<h2>Quick Links</h2>
						<ul>
						[[Wayfinder? &startId=`0` &level=`1` &outerTpl=`tpl-wf-footer_outer`]]
						[[Wayfinder? &startId=`15` &level=`2` &outerTpl=`tpl-wf-footer_outer`]]
						</ul>
					</div><!--.col8-->
				</div><!--/.row-->
				<div class="row">
					<div class="col-lg-12">
						<span class="copyright">
						&copy; [[currentYear]] [[++site_name]] All rights reserved. <a href="[[~6]]">Privacy policy</a>. <a href="[[~11]]">Shipping & Return policy</a>. Site by <a href="http://www.keystoneresources.com/" target="_blank">Keystone Resources</a>.
						</span>
						<sub>Displayed pictures are for reference only. Due to differences in photography and computer resolution, the actual product color and scale may vary from the items depicted on this website.</sub>
					</div><!--/.col12-->
				</div><!--/.row-->
			</div><!--/.container-fixed-->
		</footer>
		[[$scripts]]
	</body> 
</html>