
	<header>
		<div class="container-fixed">
			<div class="row">
				<div class="col-lg-3">
					<a href="[[~1]]" class="logo text-hide" title="[[++site_name]]">[[++site_name]]</a>
				</div><!--/.col3-->
				<div class="col-lg-9">
					[[Wayfinder? &startId=`0`&level=`2`]]
					<a href="[[~24]]" class="learnmore" target="_blank">
						<img src="/assets/img/elements/jlbutton.png" /> 
					</a>
				</div><!--.col9--> 
			</div><!--/.row-->
		</div><!--/.container-fixed-->
	</header> 
