<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
[[*id:is=`5`:then=`<script src="/assets/js/vendor/jquery.validate.min.js"></script>`]]
<script src="/assets/js/plugins.js"></script>
<script src="http://malsup.github.io/jquery.cycle2.carousel.js"></script>
<script src="/assets/js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28312460-29', 'auto');
  ga('send', 'pageview');

</script>