<div class="col-lg-6 product" data-category="[[+type:lcase:replace=`||== `]] [[+space:lcase:replace=`||== `]]">
	
	<div class="image">
		[[+image:is=``:then=`
		<img src="/assets/img/images/general/placeholder_product.jpg" title="[[+description]]"/>
		`:else=`
		<img src="/assets/img/images/products/[[+image]]" title="[[+description]]"/>
		`]]
	</div> 
	<span class="title">[[+description]]</span>
	<span class="provider">by [[+author:is=``:then=`Classic Hardware`:else=`[[+author]]`]]</span>
	<ul>	
		[[+finishshown:isnt=``:then=`<li><strong>Finish Shown:</strong> [[+finishshown]]</li>`]]
		[[+finishavailable:isnt=``:then=`<li><strong>Finishes Available:</strong> [[+finishavailable]]</li>`]]
		[[+cartridge:isnt=``:then=`<li><strong>Cartridge:</strong> [[+cartridge]]</li>`]]
		[[+gpm:isnt=``:then=`<li><strong>GPM:</strong> [[+gpm]]</li>`]]
		[[+ada:isnt=``:then=`<li><strong>ADA:</strong> [[+ada]]</li>`]]
	</ul>
	[[+other:isnt=``:then=`[[+other]]`]]
	[[+alta:isnt=``:then=`<ul><li>[[+alta:stripString=`||`]]</li></ul>`]]
	[[+pdf:isnt=``:then=`<ul><li><a href="/assets/img/images/pdf/[[+pdf]]" target="_blank">Download Specification Sheet</a></li></ul>`]]
</div><!--/.col6-->
  