<div class="col-lg-4 col-lg-offset-1">
	<span class="name">[[+partnerName]]</span>
	<div class="image">
		<a href="[[+partnerLink]]" title="[[+parterName]]" target="_blank">
			<img src="[[+partnerImage]]" alt="[[+partnerName]]" title="[[+partnerName]]" />
		</a>
	</div>
	[[+partnerDesc]]
</div><!--/.col4-->