<div class="col-lg-6 product" data-category="[[+type:lcase:replace=`||== `]] [[+space:lcase:replace=`||== `]]">
	
	<div class="image">
		[[+image:is=``:then=`
		<img src="/assets/img/images/general/placeholder_product.jpg" title="[[+description]]"/>
		`:else=`
		<img src="/assets/img/images/products/[[+image]]" title="[[+description]]"/>
		`]]
	</div> 
	<span class="title">[[+description]]</span>
	<span class="provider">by [[+author:is=``:then=`Classic Lighting`:else=`[[+author]]`]]</span>
	<ul>	
		[[+dimension:isnt=``:then=`<li><strong>Dimensions:</strong> [[+dimension]]</li>`]]
		[[+motor:isnt=``:then=`<li><strong>Motor:</strong> [[+motor]]</li>`]]
		[[+finishshown:isnt=``:then=`<li><strong>Finish Shown:</strong> [[+finishshown]]</li>`]]
		[[+finishavailable:isnt=``:then=`<li><strong>Finishes Available:</strong> [[+finishavailable]]</li>`]]
		[[+glass:isnt=``:then=`<li><strong>Glass:</strong> [[+glass]]</li>`]]
		[[+bulb:isnt=``:then=`<li><strong>Bulb:</strong> [[+bulb]] [[+bulbnumber:isnt=``:then=`([[+bulbnumber]])`]]</li>`]]
		[[+bulbwattage:isnt=``:then=`<li><strong>Bulb Wattage:</strong> [[+bulbwattage]]</li>`]]
		[[+bulbincluded:is=`yes`:then=`<li><strong>Bulbs Included:</strong> Yes</li>`:else=``]]
		[[+bulbincluded:is=`no`:then=`<li><strong>Bulbs Included:</strong> No</li>`:else=``]]
		[[+matchingsconce:is=`yes`:then=`<li><strong>Matching Sconce Available:</strong> Yes</li>`:else=``]]
		[[+matchingsconce:is=`no`:then=`<li><strong>Matching Sconce Available:</strong> No</li>`:else=``]]
		[[+blade:isnt=``:then=`<li><strong>Blade:</strong> [[+blade]] [[+bladenumber:isnt=``:then=`([[+bladenumber]])`]]</li>`]]
		[[+bladecolor:isnt=``:then=`<li><strong>Blade Color:</strong> [[+bladecolor]]</li>`]]
		[[+mounting:isnt=``:then=`<li><strong>Mounting:</strong> [[+mounting]]</li>`]]
		[[+lightkit:isnt=``:then=`<li><strong>Light Kit:</strong> [[+lightkit]]</li>`]]
		[[+lumens:isnt=``:then=`<li><strong>Lumens:</strong> [[+lumens]]</li>`]]
		[[+kelvin:isnt=``:then=`<li><strong>Kelvin Temp:</strong> [[+kelvin]]</li>`]]
		[[+hours:isnt=``:then=`<li><strong>Rated Hours:</strong> [[+hours]]</li>`]]
		[[+alta:isnt=``:then=`<li>[[+alta:stripString=`||`]]</li>`]]
	</ul>
	[[+other:isnt=``:then=`[[+other]]`]]
	[[+pdf:isnt=``:then=`<ul><li><a href="/assets/img/images/pdf/[[+pdf]]" target="_blank">Download Specification Sheet</a></li></ul>`]]
</div><!--/.col6-->
  