<div class="col-lg-2 team[[+idx]]">
	<div class="image"><img src="[[+teamImage]]" title="[[+teamName]] - [[+teamTitle]]" alt="[[+teamName]] - [[+teamTitle]]" /></div>
	<span class="name">[[+teamName]]</span>
	<span class="title">[[+teamTitle]]</span>
	[[+teamBio]]
</div><!--/.col4-->