[[$head]]
[[$header]]
    <section id="contact">
    	<div class="container-fixed">
    		<div class="row">
    			<div class="col-lg-12">
	    			<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
    			</div><!--/.col12-->
    		</div><!--/.row-->
				<div class="row">
					<div class="col-lg-7">
						<div class="image">
							<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d6937.4062125245!2d-95.5702440858237!3d29.612315802906053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!1i0!3e6!4m0!4m5!1s0x8640e62463f9527b%3A0x6743f36c8de29ba7!2sJ+%26+L+Distributors%2C+707+Avenue+E%2C+Stafford%2C+TX+77477!3m2!1d29.609989!2d-95.569192!5e0!3m2!1sen!2sus!4v1415042271155" width="600" height="400" frameborder="0" style="border:0"></iframe>
						</div>
						<span class="location">
							<strong>[[++location_name]]</strong>
							<a href="[[++location_url]]" target="_blank">[[++location_street]]<br />
							[[++location_city]], [[++location_state]] [[++location_zip]]</a><br />
							Phone: [[++location_phone]]<br />
							Toll-Free: [[++location_phone2]]<br />
							Fax: [[++location_fax]]
						</span>
						<span class="hours">
							[[*content]]
						</span>
					</div><!--/.col7-->
					<div class="col-lg-5">
							[[!+fi.successMessage]]
							[[!+fi.validation_error_message]]
              [[!FormIt?
                &hooks=`spam,fiProcessArrays,FormSave,email`
                &emailTo=`[[*contact_email]]`
                &emailTpl=`tpl-email_contact`
                &emailSubject=`You have received a submission from [[++site_url]]`
                &emailFrom=`noreply@jlblinds.com`
                &clearFieldsOnSuccess=`0`
                &fsFormTopic=`Contact`
                &successMessage=`<p class="success">Your form has been submitted.</p>`
                &validationErrorMessage=`<p class="fail">Please check your submission for errors.</p>`
                &store=`1`
                &storeTime=`1800`
                &validate=`
                username:blank,
                email:email:required,
                fullname:required,
                phone:required,
                comments:required`
              ]]
              [[!FormItRetriever]]
              <form class="form-horizontal" name="contact_form" id="contact_form" method="post" action="[[~[[*id]]]]">
                <input type="hidden" name="username" value="" />

                <div class="control-group">
                  <label class="control-label" for="fullname">Full Name</label>
                  <div class="controls">
                    <input type="text" id="fullname"  name="fullname" value="[[!+fi.fullname]]" placeholder="Full Name" required>
                    [[!+fi.error.fullname]]
                  </div><!--/.controls-->
                </div><!--/.control-group-->

                <div class="control-group">
                <label class="control-label" for="phone">Phone</label>
                  <div class="controls">
                    <input type="text" id="phone"  name="phone" value="[[!+fi.phone]]" placeholder="Phone" required>
                    [[!+fi.error.phone]]
                  </div><!--/.controls-->
                </div><!--/.control-group-->

                  <div class="control-group">
                  <label class="control-label" for="email">E-mail Address</label>
                    <div class="controls">
                      <input type="text" id="email" name="email" value="[[!+fi.email]]" placeholder="E-mail Address" required>
                      [[!+fi.error.email]]
                    </div><!--/.controls-->
                  </div><!--/.control-group-->
                  
                <div class="control-group">
                <label class="control-label" for="company">Company</label>
                  <div class="controls">
                    <input type="text" id="company"  name="company" value="[[!+fi.company]]" placeholder="Company">
                    [[!+fi.error.company]]
                  </div><!--/.controls-->
                </div><!--/.control-group-->

                <div class="control-group">
                  <label class="control-label" for="comments">Message</label>
                  <div class="controls">
                    <textarea rows="7" id="comments" name="comments" placeholder="Message" type="text">[[!+fi.comments]]</textarea>
                    [[!+fi.error.comments]]
                  </div><!--/.controls-->
                </div><!--/.control-group-->

                  <div class="control-group">
                    <div class="controls">
                      <input type="submit" value="Submit" id="form_submit" class="general_button" />
                    </div><!--/.controls-->
                  </div><!--/.control-group-->
                </form>
						
					</div><!--/.col-lg-5-->
				</div><!--/.row-->
			</div><!--/.container-fixed-->
    </section>
    
[[$footer]]