[[$head]]
[[$header]]
<section id="house">
	<div class="container-fixed">
		<img src="/assets/img/images/general/house_v3.jpg" />
		<div id="nibs">
			<a class="nib1" href="[[~15]]#security"><span>Security Lights</span></a>
			<a class="nib2" href="[[~15]]#emergency"><span>Exit/Emergency</span></a>
			<a class="nib3" href="[[~15]]#breezeway"><span>Breezeway</span></a>
			<a class="nib4" href="[[~15]]#osconce"><span>Outdoor</span></a>
			<a class="nib5" href="[[~9]]"><span>Window Coverings</span></a>
			<a class="nib6" href="[[~15]]#flushmount"><span>Flush Mounts</span></a>
			<a class="nib7" href="[[~15]]#vanity"><span>Vanity Lights</span></a>
			<a class="nib8" href="[[~15]]#ceilingfan"><span>Ceiling Fans</span></a>
			<a class="nib9" href="[[~9]]"><span>Window Coverings</span></a>
			<a class="nib10" href="[[~9]]"><span>Window Coverings</span></a>
			<a class="nib11" href="[[~15]]#ceiling"><span>Ceiling Lights</span></a>
			<a class="nib12" href="[[~15]]#track"><span>Track Lights</span></a>
			<a class="nib13" href="[[~15]]#pendant"><span>Pendants</span></a>
			<a class="nib14" href="[[~15]]#sconce"><span>Sconces</span></a>
			<a class="nib15" href="[[~15]]#led"><span>Bollards</span></a>
			<a class="nib16" href="[[~15]]#pendant"><span>Pendants</span></a>
			<a class="nib17" href="[[~15]]#led"><span>LED Lights</span></a>
			<a class="nib18" href="[[~15]]#led"><span>Pole Lights</span></a>
			<a class="nib19" href="[[~15]]#kitchen"><span>Undercabinet Lights</span></a>
			<a class="nib20" href="[[~15]]#emergency"><span>Smoke Alarms</span></a>
			<a class="nib21" href="[[~15]]#emergency"><span>Exit/Emergency</span></a>
			<a class="nib22" href="[[~15]]#sconce"><span>Sconces</span></a>
			<a class="nib23" href="[[~8]]"><span>Cabinets</span></a> 
			<a class="nib24" href="[[~15]]#led"><span>LED Lights</span></a>
			<a class="nib25" href="[[~15]]#led"><span>LED Lights</span></a> 
			<a class="nib26" href="[[~8]]"><span>Cabinets</span></a>
			<a class="nib27" href="[[~8]]"><span>Cabinets</span></a>
			<a class="nib28" href="[[~32]]"><span>Bath Hardware</span></a>
			<a class="nib29" href="[[~15]]#bathroom"><span>Mirror</span></a> 
			<a class="nib30" href="[[~31]]"><span>Commode</span></a>
			<a class="nib31" href="[[~31]]"><span>Plumbing</span></a>
			<a class="nib32" href="[[~32]]"><span>Bath Hardware</span></a>
			<a class="nib33" href="[[~31]]"><span>Faucet</span></a>
			<a class="nib34" href="[[~31]]"><span>Plumbing</span></a>
		</div>
	</div> 
</section> 
[[$footer]]