[[$head]]
[[$header]]
<section id="house">
	<div class="container-fixed">
		<img src="/assets/img/images/general/house_v3.jpg" />
		<div id="nibs">
			<a class="nib1" href="[[~3]]#outdoor-security"><span>Security Lights</span></a>
			<a class="nib2" href="[[~3]]#breezeway-emergency"><span>Exit/Emergency</span></a>
			<a class="nib3" href="[[~3]]#breezeway-flushmount"><span>Flush Mounts</span></a>
			<a class="nib4" href="[[~3]]#outdoor-sconce"><span>Sconces</span></a>
			<a class="nib5" href="[[~9]]"><span>Window Coverings</span></a>
			<a class="nib6" href="[[~3]]#bathroom-flushmount"><span>Flush Mounts</span></a>
			<a class="nib7" href="[[~3]]#bathroom-vanity"><span>Vanity Lights</span></a>
			<a class="nib8" href="[[~3]]#bedroom-ceilingfan"><span>Ceiling Fans</span></a>
			<a class="nib9" href="[[~9]]"><span>Window Coverings</span></a>
			<a class="nib10" href="[[~9]]"><span>Window Coverings</span></a>
			<a class="nib11" href="[[~3]]#kitchen-ceiling"><span>Ceiling Lights</span></a>
			<a class="nib12" href="[[~3]]#kitchen-tracklight"><span>Track Lights</span></a>
			<a class="nib13" href="[[~3]]#kitchen-pendant"><span>Pendants</span></a>
			<a class="nib14" href="[[~3]]#diningroom-sconce"><span>Sconces</span></a>
			<a class="nib15" href="[[~3]]#outdoor-led"><span>Bollards</span></a>
			<a class="nib16" href="[[~3]]#diningroom-pendant"><span>Pendants</span></a>
			<a class="nib17" href="[[~3]]#outdoor-led"><span>LED Lights</span></a>
			<a class="nib18" href="[[~3]]#outdoor-led"><span>Pole Lights</span></a>
			<a class="nib19" href="[[~3]]#cabinet"><span>Undercabinet Lights</span></a>
			<a class="nib20" href="[[~3]]#emergency"><span>Smoke Alarms</span></a>
			<a class="nib21" href="[[~3]]#breezeway-emergency"><span>Exit/Emergency</span></a>
			<a class="nib22" href="[[~3]]#diningroom-sconce"><span>Sconces</span></a>
			<a class="nib23" href="[[~8]]"><span>Cabinets</span></a> 
			<a class="nib24" href="[[~3]]#outdoor-led"><span>LED Lights</span></a>
			<a class="nib25" href="[[~3]]#outdoor-led"><span>LED Lights</span></a> 
			<a class="nib26" href="[[~8]]"><span>Cabinets</span></a>
			<a class="nib27" href="[[~8]]"><span>Cabinets</span></a>
		</div>
	</div> 
</section>
[[$footer]]