[[$head]]
[[$header]]
    <section id="general">
    	<div class="container-fixed">
    		<div class="row">
    			<div class="col-lg-12">
	    			<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
    			</div><!--/.col12-->
    		</div><!--/.row-->
				<div class="row">
					<div class="col-lg-12">
						[[*content]]
					</div><!--.col12-->
				</div><!--/.row-->
			</div><!--/.container-fixed-->
    </section>
[[$footer]]