[[$head]]
[[$header]]

    <section id="general">
    	<div class="container-fixed">
    		<div class="row">
    			<div class="col-lg-12">
	    			<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
    			</div><!--/.col12-->
    		</div><!--/.row-->
				<div class="row">
					<div class="col-lg-12">
						[[*content]]
					</div><!--/.col12-->
				</div><!--/.row-->
			</div><!--/.container-fixed-->
    </section>
    
    <section id="team">
	    <div class="container-fixed">
    		<div class="row">
	    		 <div class="col-lg-12">
	    			<h1>[[*about_team_title]]</h1>
    			</div><!--/.col12-->
     		</div><!--/.row-->
				<div class="row">
					[[getImageList?
            &tvname=`MIGX-about_team`
            &tpl=`tpl-migx-about_team`
          ]]
				</div><!--/.row-->
			</div><!--/.container-fixed-->
    </section>
    

		<section id="general">
    	<div class="container-fixed">
				<div class="row">
					<div class="col-lg-12">
						[[*about_content]]
					</div><!--/.col12-->
				</div><!--/.row-->
			</div><!--/.container-fixed-->
    </section>

    
[[$footer]]