[[$head]]
[[$header]]
	<section id="products">
		<div class="container-fixed">
  		<div class="row">
  			<div id="options" class="col-lg-4 all">
    			<div class="area row">
    				<span class="title">Product Options</span>
	    			<div class="col-lg-4">
		    			<div class="icon bathroom" data-category="bathroom"></div>
		    			Bathroom
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon bedroom" data-category="bedroom"></div>
		    			Bedroom
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon breezeway" data-category="breezeway"></div>
		    			Breezeway
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon closet" data-category="closet"></div>
		    			Closet
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon diningroom" data-category="diningroom"></div>
		    			Dining Room
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon hallway" data-category="hallway"></div>
		    			Hallway
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon entryway" data-category="entryway"></div>
		    			Entry Way
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon kitchen" data-category="kitchen"></div>
		    			Kitchen
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon outdoor" data-category="outdoor"></div>
		    			Outdoor
	    			</div><!--/.col4-->
    			</div><!--/.row-->
    			<div class="type row">
    				<div class="col-lg-12">
	    				<hr />
    				</div>
	    			<div class="col-lg-4">
		    			<div class="icon ceiling" data-category="ceiling"></div>
		    			Ceiling
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon ceilingfan" data-category="ceilingfan"></div>
		    			Ceiling Fans
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon fankit" data-category="fankit"></div>
		    			Fan Kit
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon pendant" data-category="pendant"></div>
		    			Pendants
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon emergency" data-category="emergency"></div>
		    			Life Safety
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon flushmount" data-category="flushmount"></div>
		    			Flush Mounts
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon led" data-category="led"></div>
		    			LED
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon sconce" data-category="sconce"></div>
		    			Indoor Sconce
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon osconce" data-category="osconce"></div>
		    			Outdoor Sconce
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon security" data-category="security"></div>
		    			Security
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon track" data-category="track"></div>
		    			Track
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon vanity" data-category="vanity"></div>
		    			Vanity
	    			</div><!--/.col4-->
	    			<div class="col-lg-4">
		    			<div class="icon energystar" data-category="energystar"></div>
		    			Energy Star
	    			</div><!--/.col4-->
    			</div><!--/.row-->
    			
    			<div class="other row">
	    			<span class="title">Other Products</span>
	    			<div class="col-lg-6">
		    			<a href="[[~8]]" title="Cabinets"><div class="icon_link cabinet" data-category="cabinet"></div></a>
		    			Cabinets
	    			</div><!--/.col4-->
	    			<div class="col-lg-6">
		    			<a href="[[~9]]" title="Window Coverings"><div class="icon_link windowcovering" data-category="windowcovering"></div></a>
		    			Window Coverings
	    			</div><!--/.col4-->
    			</div><!--/.row-->
  			</div><!--/.col4-->
  			<div id="gallery" class="col-lg-8">
	  			<div class="row">
	  			
	  				<!--
<div id="tags" class="col-lg-12">
		  				Options Enabled 
		  				<span> - None</span>
		  				<ul></ul>
		  				<hr />
	  				</div><!--/.col12
-->					
						<div class="col-lg-12 paging">
							<ul class="pageList"></ul>
						</div>
	
	  				
	  				<div id="status" class="col-lg-12">
		  				No results found.
	  				</div><!--/.col12-->
	  				
	  				[[!Rowboat?
						   &table=`modx_products`
						   &tpl=`tpl-migx-products`
						   &sortBy=`clnumber`
						   &where=`{"published":"1","type:!=":"faucet","type:!=":"hardware"}`
						   &limit=`500`
						]]
						
						<div id="message" class="col-lg-12">
		  				Visit our <a href="[[~4]]">partners</a> to view additional selections.
	  				</div><!--/.col12-->
						
						
						
						<div class="col-lg-12 paging">
							<ul class="pageList"></ul>
						</div>

	  			</div><!--/.row-->
  			</div><!--/.col8-->
  		</div><!--/.row-->
  	</div><!--/.container-fixed-->
	</section>
[[$footer]]