[[$head]]
[[$header]]
	<section id="products">
		<div class="container-fixed">
  		<div class="row">
  			<div id="gallery" class="col-lg-8 col-lg-offset-2"> 
	  			<div class="row">

						<div class="col-lg-12 paging">
							<ul class="pageList"></ul>
						</div>
	
	  				
	  				<div id="status" class="col-lg-12">
		  				No results found.
	  				</div><!--/.col12-->
	  				
	  				[[!Rowboat?
						   &table=`modx_products`
						   &tpl=`tpl-migx-products-hardware`
						   &sortBy=`clnumber`
						   &where=`{"type":"hardware","published":"1"}`
						   &limit=`500`
						]]
						
						<div id="message" class="col-lg-12">
		  				Visit our <a href="[[~4]]">partners</a> to view additional selections.
	  				</div><!--/.col12-->
						
						
						
						<div class="col-lg-12 paging">
							<ul class="pageList"></ul>
						</div>

	  			</div><!--/.row-->
  			</div><!--/.col8-->
  		</div><!--/.row-->
  	</div><!--/.container-fixed-->
	</section>
[[$footer]]